.bienvenue
{
	color: #D28B98;
	font-size: 2em;
	font-style: bold;
	text-align: center;
}
.accueil
{
	color: #DA5A70;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	border-top: 100px solid #D2BCC0;
}
body
{
	background-color: #D2BCC0;
	color: white;
	font-family: "Georgia";
}
.bienvenue em
{
	font-weight: bold;
}
.sidebar-nav
{
	border-top: 300px solid #D2BCC0;
}
.quarant
{
	color: #DA5A70;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	border-top: 50px solid #D2BCC0;
	border-left: 100px solid #D2BCC0;
}
.connexion,.inscription
{
	border-top: 300px solid #D2BCC0;
	border-left: 100px solid #D2BCC0;
}